@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin:0;
    font-family: 'roboto', sans-serif;
}


.navbar{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background: white;
}

.navbar_logo{
    flex: 20%;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    color:#180F4A;
    font-size:34px;
    
    margin-left: 10%;
}

.menu{
    text-align: right;
    flex: 70%;
    margin-right: 10%;
}

.menu a{
    color: #180F4A;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 16px;
}

.menu a:hover{
    color: #FF2978;
    border-top: 5px solid #180F4A;
}

#conoscoBotao{
    color: white;
    background-color: #180F4A;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 50px;
}

#conoscoBotao:hover{
    background-color: #FF2978;
    border: 0px;
}

.logo{
    font-family: 'Lobster', cursive;
    color:#180F4A;
    font-size:34px;
}

.header{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerLeft{
    flex: 40%;
    margin-left: 10%;
}

.containerLeft h2{
    
    font-size: 20px;
    font-weight: 900;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.containerLeft p{
    padding: 15px 0 40px ;
    color: grey;
    text-align: left;
}

.containerLeft a{
    background-color: #FF2978;
    padding: 20px;
    border-radius: 7px;
    color: white;
}

.containerLeft a:hover{
    background-color: #180F4A;
    border: 0px;
}

.containerRight{
    flex: 40%;
    margin-right: 10%;
}


.containerRight img{
    width: 100%;
}

section{
    padding: 5%;
    display: inline-block;
    text-align: center;
    margin-top: 80px;
    margin-right: 5%;
    margin-left: 5%;
    
}

section h2{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: 900;
    color: #180F4A;
    padding: 0;
    margin: 0;
}

.servicos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    border: 1px solid #FF2978;
    border-radius: 10px;
    padding: 20px;
    margin: 1%;
    
}

.cardText{
    display: block;
}

.cardText h3{
    font-size: 1.17rem;
    font-weight: bold;
    margin: 1rem 0 1rem 0;
}

.cardText p{
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0 1rem 0;
}


.footer{
    background: rgb(68,1,101);
    background: linear-gradient(180deg, rgba(68,1,101,1) 0%, rgba(45,45,45,1) 100%);
    
    width: 100%;
    text-align: center;
    margin-top: 100px;
    height: 400px;
}

.footerLogo{
    padding: 100px;
    border-top: 5px solid #FF2978;
    
}

.footer h1{
    font-family: 'Lobster', cursive;
    font-size: 34px;
    font-weight: 900;
    color: white;
    margin: 30px;
    
}

.footer p{
    color: white;
    font-weight: 760;
}

.footer b{
    color: white;
    font-weight: 760;
}

.whatsapp{
    position:fixed;
    bottom: 10px;
    right: 10px;
    
}

.whatsapp img{
    width: 100px;
}